/* CSS Document */

@import url(//fonts.googleapis.com/earlyaccess/mplus1p.css);
@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body{
    background: #FFF;
    font-family: "Mplus 1p", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Noto Sans Japanese", sans-serif;
    font-weight: 400;
}
form{
    font-family: "Mplus 1p", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Noto Sans Japanese", sans-serif;
    font-weight: 400;
    margin : 0 auto;
    padding: 0;
    width: 100%;
    float: none;
    clear: both;
    color: #666;
}

input, textarea{
    border:1px solid #666;
    border-radius: 4px;
}

#logo a{
   display: none;
}
#container{
  margin: 0 auto;
  padding: 0;
  display: 100%;
}
