/* CSS Document */

@import url(//fonts.googleapis.com/earlyaccess/mplus1p.css);

body{
    background: transparent;
    font-family: 'Mplus 1p', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'Noto Sans Japanese', sans-serif;
    font-weight: 400;
}
h2{
    font-family: 'Mplus 1p', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'Noto Sans Japanese', sans-serif;
}
form{
    font-family: inherit;
    font-weight: 400;
    margin : 0 auto;
    padding: 0;
    width: 100%;
    float: none;
    clear: both;
    color: #666;
}

input, textarea,
#Field11{
    border:1px solid #666;
}

.form_subject select{
  font-weight: normal;
}

input.btTxt,
input.btTxt.submit,
.wufoo input.btTxt,
.wufoo input.btTxt.submit{
    border:1px solid #666;
    border-radius: 4px;
    background-color: #333;
    color: #FFF;
}

#title4{
    font-weight: normal;
}

#logo a,
a.powertiny b, a.powertin em{
   display: none;
}
#container{
  margin: 0 auto;
  padding: 0;
  display: 100%;
}
footer{
  display: none;
  !important;
}
